#header {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: auto;
    grid-template-areas: "logo navbar";
    width: 100%;
}

#header-img {
    grid-area: logo;   
    background-color: pink;
}

nav {
    grid-area: navbar;
    background-color: yellow;
    margin: 0;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: yellow;
}

.nav-li {
    float: left;
}

.nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

